@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: 'eb garamond';
  overflow: none;
  height: 800vh;
  opacity: 0;
  transition: opacity 0.75s 0.5s;
  overflow: hidden;

  &.allDone {
    opacity: 1;
    overflow: auto;
  }
}

h1 {
  margin: 0;
  font-size: 5rem;
}

main {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  will-change: transform;
}

html,
body {
  margin: 0;
  display: block;
  padding: 0;
  overscroll-behavior: none;
}

section {
  width: 40%;

  img {
    width: 100%;
    opacity: 0;
  }
}

section:nth-child(even) {
  float: right;
}

section:nth-child(odd) {
  clear: both;
}

#container {
  position: fixed;
  pointer-events: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
